* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

.container {
    width: 100%;
    max-width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.form-wrapper {
    width: 100%;
    width: 500px;

}

.container .form {
    display: flex;
    overflow: hidden;
    width: 400%;
}

.form .slide {
    width: 25%;
    transition: margin-left 0.8s ease-in-out;
}

.slide.show-slide {
    margin-left: 0;
}

.form .form-field {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.form .form-field label {
    width: 30%;
    margin-right: 10px;
}

.form .form-field .input {
    width: 70%;
}

.input {
    padding: 7px 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    border: 2px solid #ccc;
}

.radio_group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-group {
    width: 50%;
    display: flex;
    margin: 10px 0;
}

.button-group button {
    padding: 10px 15px;
    margin-right: 10px;
    background: dodgerblue;
    color: #fff;
    font-family: Poppins, serif;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.alert {
    border: 2px solid crimson;
}