* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

.container .form {
    width: 100%;
    max-width: 80%;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
}

.form .form-field {
    width: 100%;
    display: flex;
    align-items: center;
}

.form .form-field label {
    width: 30%;
    margin-right: 10px;
}

.form .form-field .input {
    width: 70%;
}

.input {
    padding: 7px 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    border: 2px solid #ccc;
}

.radio_group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert {
    border: 2px solid crimson;
}